.aboutMe-container {
  height: 50vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.aboutMe-container aside{
  align-self: center;
}

.aboutMe-container aside img {
  border: 1px solid white;
}

.aboutMe-container section{
  padding: 4% 4%;
}
.aboutMe-container section h1 {
  font-size: 40px;
}
.aboutMe-container section article {
  font-size: 15px;
  padding-right: 10%;
}

.mediaSocial {
    width: 100%;
    margin-top: 80px;
    border-left: 1px solid white;
    padding-left: 2%;
}